<h1>Список курсів</h1>

<div class="row">
{{!--#if arrCourses.length}}
{{#each arrCourses--}}
{{#if courses.length}}
{{#each courses}}
    <div class="col s4">
      <div class="card">
        <div class="card-image">
          <img src="{{_doc.img}}" alt="{{_doc.title}}">
        </div>
        <div class="card-content">
          <span class="card-title">{{_doc.title}}</span>
          <p class="price">{{_doc.price}}</p>
        </div>
        <div class="card-action actions">
          <a href="/courses/{{_doc._id}}" target="_blank">Відкрити</a>
          {{#if @root.isAuth}}
            {{#ifeq _doc.userId._doc._id @root.userId}}
              <a href="/courses/{{_doc._id}}/edit?allow=true">Редагувати</a>
            {{/ifeq}}
            <form action="/card/add" method="post">
              <input type="text" hidden name="id" value="{{_doc._id}}">
              <input type="hidden" name="_csrf" value="{{@root.csrf}}">
              <button type="submit" class="btn btn-primary">Купити</button>
            </form>
          {{/if}}
        </div>
      </div>
    </div>
{{/each}}
{{else}}
<pre>курси відсутні</pre>
{{/if}}
</div>