<h1>Редагувати курси</h1>
<p><a href="/">на головну</a></p>
<form action="/courses/{{course.id}}/edit" method="POST">
    <div class="input-field">
        <input name="title" id="title" type="text" class="validate" required value="{{course.title}}">
        <label for="title">Назва курсу</label>
        <span class="helper-text" data-error="Введіть назву курсу" ></span>
    </div>
    
    <div class="input-field">
        <input name="price" id="price" type="number" class="validate" required min="1" value="{{course.price}}">
        <label for="name">Ціна курсу</label>
        <span class="helper-text" data-error="Введіть ціну курсу" ></span>
    </div>
    
    <div class="input-field">
        <input name="img" id="img" type="text" class="validate" required value="{{course.img}}">
        <label for="img">URL курсу</label>
        <span class="helper-text" data-error="Введіть шлях до картинки" ></span>
    </div>
    <input name="id" type="hidden" value="{{course.id}}">


    <button class="btn btn-primary">Редагувати</button>
</form>